<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>TV Intepreter</title>
        <meta name="description" content="TV">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"> 
    </head>
  <body>
    <main>
        <h1>TV Intepreter by <a href="http://www.flimmit.com">Flimmit</a></h1>

        <!--[if lte IE 8]>
                <p>Please update your Browser</p>
            <![endif]-->

        <div id="container"></div>
    </main>
  </body>
</html>
